/*Estilos del header*/
header{
    background-color:RGB(32, 32, 38);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 5px 10%;
}

/*Div con los datos*/
.datos{
    display: flex;
    flex-direction: column;
}

.datos span{
    color: #eceff1;
}



/*Div con los enlaces*/
.enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*Botón carrito*/
#carrito{
    font-weight: 700;
    color: #eceff1;
    padding: 9px 25px;
    background-color: RGB(0, 123, 157);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#carrito:hover{
    transform: scale(1.1);
}

/*Botón cerrar sesión*/
#cerrar-sesion-btn{
    font-weight: 700;
    color: #eceff1;
    padding: 9px 25px;
    background-color: RGB(0, 123, 157);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

#cerrar-sesion-btn:hover{
    transform: scale(1.1);
}

/*Enlace Inicio*/
#enlace-inicio{
    font-weight: 700;
    color: #eceff1;
    padding: 9px 25px;
    background-color: RGB(0, 123, 157);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

#enlace-inicio:hover{
    transform: scale(1.1);
}