/*Estilos del header*/
header {
    background-color: rgb(32, 32, 38);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 5px 10%;
}

/*Div con los datos*/
.datos {
    display: flex;
    flex-direction: column;
}

.datos span {
    font-size: 15px;
    color: #eceff1;
}



/*Div con los enlaces*/
.enlaces {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*Botón carrito*/
#carrito {
    background-color: RGB(32, 32, 38);
    padding: 9px 25px;
    border: solid 1px transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#carrito:hover {
    background-color: rgb(57, 57, 60);
}

/*Botón cerrar sesión*/
#cerrar-sesion-btn {
    font-weight: 700;
    color: #eceff1;
    padding: 9px 25px;
    background-color: RGB(0, 123, 157);
    border: 3px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

#cerrar-sesion-btn:hover {
    color: RGB(0, 123, 157);
    border: 3px solid RGB(0, 123, 157);
    background-color: #eceff1;
}

/*Enlace Inicio*/
#enlace-inicio {
    font-weight: 700;
    color: #eceff1;
    padding: 9px 25px;
    background-color: RGB(0, 123, 157);
    border: 3px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

#enlace-inicio:hover {
    color: RGB(0, 123, 157);
    border: 3px solid RGB(0, 123, 157);
    background-color: #eceff1;
}

#principal {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}


#titulo {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

article #categorias {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 10px;
    border: solid 1px rgb(222, 219, 219);
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.categoria img {
    background-color: black;
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

article #productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.producto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    width: 80%;
    border: solid 1px RGB(222, 219, 219);
    border-radius: 10px;
    background-color: white;
}

.producto img {
    background-color: black;
    width: auto;
    height: 110px;
}

.producto .btns {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.btns button {
    background-color: RGB(0, 123, 157);
    color: #eceff1;
    padding: 10px;
    border-radius: 5px;
    border: solid 3px RGB(0, 123, 157);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}


.btns button:hover {
    color: RGB(0, 123, 157);
    background-color: #eceff1;
}

.btns input {
    width: 65px;
    height: auto;
    background-color: #eceff1;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: solid 3px RGB(0, 123, 157);
    transition: all 0.3s ease 0s;
}

#ordenar {
    background-color: RGB(0, 123, 157);
    color: #eceff1;
    padding: 5px;
    border-radius: 5px;
    border: solid 3px RGB(0, 123, 157);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

#ordenar:hover {
    color: RGB(0, 123, 157);
    background-color: #eceff1;
}

select {
    padding: 5px;
}

#divProdPedido {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 500px;
    border: solid;
}

